// Colors
$black: #131413;
$gray: #cecfd0;
$white: #ffffff;
$off-white: #f7f8f9;

// Fonts
$font-size-xs: 0.75rem; // 12px
$font-size-sm: 0.875rem; // 14px
$font-size-md: 1rem; // 16px
$font-size-lg: 1.375rem; // 22px
$font-size-xl: 1.75rem;  // 28px
$font-size-xxl: 2.25rem; // 36px

/*** Component Variables ***/

// Header
$brand-fontsize: 48px;
$nav-margin: 0rem 0rem 0rem 2.5rem;

// Nav
$nav-height: 54px;

// Footer
$footer-margin: $nav-margin;
