@import '../variables';
@import '../../grid/mixins';
@import '../functions';

.form-group {
  margin-bottom: 0.75rem;
  
  label {
    display: inline-block;
    margin-bottom: 0.25rem;
  }
  
  .form-control {
    display: block;
    width: 100%;
  }

  input, select {
    height: 2rem;
    font-size: 1rem;
  }
}

.contact-form {
  &__description {
    margin-bottom: 2rem;
    @include create-mq(lg, margin-top, px-to-rem(15px));
  }

  &__submit-button {
    margin-top: 0.5rem;
  }
}

