@import '../variables';

.widget {
  border: 1px dashed black;
  padding-left: 1rem;
  padding-right: 1rem;

  &:first-child {
    padding-left: 0rem;
  }
  &:last-child {
    padding-right: 0rem;
  }

  &__box {
    height: 100px;
  }
}