$min: 0px;
$sm-max: 900px;
$lg-min: $sm-max + 1px;


$number-of-columns: 12;
$large: 'lg';
$small: 'sm';

[class*='col'] {
  border: 1px dashed black;
  height: 100px;
}

@mixin create-grid-classes($name, $num-of-cols) {
  @for $i from 1 through $num-of-cols {
    .col-#{$name}-#{$i} {
      flex: initial;
      width: ($i/$num-of-cols) * 100%;
    }
  }
}

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

  .col {
    flex: 1;
  }

  @include create-grid-classes($small, $number-of-columns);

  @media screen and (min-width: $lg-min) {
    @include create-grid-classes($large, $number-of-columns);
  }
}

