@import './variables';
@import './mixins';

// For debug;
// [class^='col'] {
//   border: 1px dashed black;
//   height: 100px;
// }

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: auto;
  margin: 0rem -1rem;

  .col {
    flex: 1;
  }

  [class^='col-'] {
    width: 100%;
    padding-left: $gutter-padding;
    padding-right: $gutter-padding;
  }

  @include create-grid-classes($small-bp-name, $number-of-columns);

  @media screen and (min-width: $large-min) {
    @include create-grid-classes($large-bp-name, $number-of-columns);
  }

  &.no-gutters {
    margin: 0;
  }

  &.no-gutters > [class^='col-'] {
    padding-left: 0;
    padding-right: 0;
  }

  &.reverse-lg {
    @media screen and (min-width: $large-min) {
      flex-direction: row-reverse;
    }
  }
}

// responsive helpers
.hide-sm {
  @media screen and (min-width: $small-min) and (max-width: $small-max) {
    display: none;
  }
}

.hide-lg {
  @media screen and (min-width: $large-min) {
    display: none !important;
  }
}

