$min: 0px;
$sm-max: 900px;
$lg-min: $sm-max + 1px;


$column: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12);
$large: 'lg';
$small: 'sm';

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

  .column {
    border: 1px dashed black;
    height: 100px;
    flex: 1;
  }

  [class*='column-'] {
    flex: initial;
  }

  .column-sm-6 {
    @extend .column;
    width: (6 / 12) * 100%;
  }

  .column-sm-3 {
    @extend .column;
    width: (3 / 12) * 100%;
  }

  @media screen and (min-width: $lg-min) {
    .column-lg-6 {
      border: 1px dashed black;
      width: (6 / 12) * 100%;
    }
  }
}

